[Unit]
Description=Swaybg to provide the desktop background
Documentation=man:swaybg(1)
PartOf=graphical-session.target
After=sway.service

[Service]
Type=simple
ExecStart=/usr/bin/swaybg -i /home/$USER/Pictures/2.jpg -m fill

[Install]
WantedBy=graphical-session.target